name: Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Extract JAZZ_VERSION
        id: jazz_version
        run: |
          VERSION=$(grep 'ARG JAZZ_VERSION=' Dockerfile | sed 's/.*JAZZ_VERSION="\(.*\)"/\1/')
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Login to GHCR
        if: github.event_name == 'push'
        uses: docker/login-action@v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Build and push app
        uses: docker/build-push-action@v6
        with:
          push: ${{ github.event_name == 'push' }}
          tags: |
            ghcr.io/antoncuranz/playwright-jazz-docker:latest
            ghcr.io/antoncuranz/playwright-jazz-docker:${{ steps.jazz_version.outputs.version }}
          secrets: |
            github_token=${{ secrets.GITHUB_TOKEN }}

